#Ignored folders and files

# Project data

annotations/
*.zip
images*/

# Skip txt files for now
*.txt

# Ignore emacs backup files
*.*~

# Ignore batch slurm files
cv.err.*
cv.out.*

# Python cache files
__pycache__/

# json report files for now
*.json
